/*
    Author: Tuomas Röpelinen
    Date: 6.4.2019
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    min-width: 420px;
    line-height: 1.5;
    overflow: hidden;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    min-width: 400px;;
}

.navbar ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100vh;
}

#koti {
    background: url("../IMG/tausta.jpg") no-repeat center center/cover;
    background-size: cover;
    height: 100%;
    padding-top: 75px;
    padding-left: 20%;
    padding-right: 20%;
}

#kotiContainer {
    width: 100%;
    height: 100vh;
}

#projektitContainer {
    width: 100%;
    height: 100vh;
}

#projektitHeader {
    height: 12%;
    width: 100%;
    padding-bottom: 50px;
}

#projektit {
    background-color: rgb(222, 224, 226);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

#projektitContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-auto-rows: minmax(150px, 150px);
    grid-gap: 60px;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

#CV {
    background-color: rgb(222, 224, 226);
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
}

#kotiHeader {
    display: flex;
    flex-direction: row;
}

#koti h1 {
    font-size: 2rem;
}

#koti img {
    min-width: 80px;
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

#koti p {
    font-size: 1rem;
}

#projektit h1 {
    font-size: 2rem;
}

#CV {
    padding-top: 100px;
    padding-bottom: 50px;
}

#CV h1 {
    font-size: 2rem;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    border: 1px solid black;
}

.navbar img {
    border: none;
    width: 25px;
    height: auto;
}

.popup {
    height: 0;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.popup:after {
    content: attr(data-popuptext);
    background: rgba(0, 0, 0, 0.85);
    border-radius: 3px;
    opacity: 0;
    top: 0;
    left: 30%;
    position: absolute;
    transition: 500ms ease;
    white-space: nowrap;
    max-height: 0;
}

.popup:hover:after {
    opacity: 1;
    top: 1.2em;
    max-height: 200px;
    padding: .4em;
}

#otayhteytta {
    width:100%;
    height:100%;
    opacity: .95;
    display:none;
    position: fixed;
    background-color:#313131;
    overflow:auto;
    text-align: center;
}

div#popupContact {
    display: inline-block;
    margin: 150px auto;
    font-family:'Raleway',sans-serif
}

form {
    opacity: initial;
    text-align: center;
    max-width:300px;
    min-width:250px;
    margin: 0px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff;
}

form button {
    padding: 0.4rem;
    margin: 0.5rem;
}

form button a {
    text-decoration: none;
    color: black;
}

form textarea {
    height: 100px;
}

form input, form textarea {
    padding: 0.5rem;
    margin: 10px auto;
}

@media only screen and (max-width: 530px){
    .navbar ul li {
        margin: 0 0.5rem;
        padding: 1rem;
        font-size: 0.8rem
    }
}

@media only screen and (max-width: 602px){
    .navbar ul li {
        margin: 0 0.7rem;
        padding: 1rem 0.3rem;
    }

    #koti h1 {
        font-size: 1.7rem;
    }

    #koti p {
        font-size: 0.8rem;
    }
}